<configuration> 
    <system.webServer> 
        <handlers> 
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" /> 
        </handlers> 
        <rewrite> 
            <rules>
                <rule name="myapp"> <match url="/*" /> <action type="Rewrite" url="server.js" />
                </rule> 
            </rules> 
        </rewrite>

        <httpErrors existingResponse="PassThrough" />
    </system.webServer> 

  <appSettings>
    <!-- <add key="PORT"  value="6968" /> -->
	<add key="HAHA"  value="HAHA" />
    <add key="JWT_SECRET_KEY"  value="DAY_LA_SECRET_KEY_@" />
    <add key="JWT_REFRESH_KEY"  value="DAY_LA_REFRESH_KEY_@" />
    <add key="DB_HOST"  value="SERVER" />
    <add key="DB_DATABASE_NAME"  value="NODE_CBNODE" />
    <add key="DB_USERNAME"  value="drai" />
    <add key="DB_PASSWORD"  value="drai@123" />
    <add key="DB_PORT"  value="1433" />
    <add key="DB_DIALECT"  value="mssql" />
<!-- 
#@"data source=203.113.174.16;initial catalog=YV_MicroERP;persist security info=True;user id=drai;password=drai@123;"
# DB_HOST= shpt.com.vn #203.113.174.16
# DB_DATABASE_NAME=NODE_CBNODE
# DB_USERNAME=drai
# DB_PASSWORD=drai@123
# DB_PORT=1433 
# DB_DIALECT=mssql #sqlite -->


  </appSettings>
  </configuration>


